/*############################# GLOBAL styles #############################*/

:root{
    --background: black;
    --text-colour-white: white;
    --link-hover: #545454;
    --invalid: hsl(7, 100%, 68%);
    --link-transition: 0.3s ease-in-out;
    --fontsize-18: 1.125rem;
    --fontsize-20: 1.25rem;
    --fontsize-24: 1.5rem;
    --fontsize-32: 2rem;
    --fontsize-36: 2.25rem;
    --fontsize-40: 2.5rem;
    --fontsize-48: 3rem;
    --fontsize-72: 4.5rem;
    --fontsize-88: 5.5rem;
    --paddingsize-16: 1rem;
    --wrapper-maxWidth: 69.375rem;
    --gap-size: 1rem; 
    --menu-button-height: 2rem;
    --menu-button-width: 2rem;
    --menu-icon-height: 0.125rem;
    --menu-icon-transition: transform 0.15s ease-in-out;
    --menu-dropdown-transition: opacity 0.15s ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, input, textarea {
    font-family: 'Urbanist', sans-serif;
}

body{
    margin: 0;
    font-size: var(--fontsize-18);
    line-height: 1.56;
    background-color: var(--background);
    color: var(--text-colour-white);
}

header{
    position: relative;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: var(--gap-size);
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 1.25rem;
}

a{
    transition: color var(--link-transition);
    color: var(--text-colour-white);
    text-decoration: none;
}

a:hover{
    color: var(--link-hover);
    cursor: pointer;
}

a:focus-visible, input:focus-visible, textarea:focus-visible {
    outline: 2px dashed #71A6D1;
    outline-offset: 2px;
}

input:invalid, textarea:invalid {
    outline-color: var(--invalid);
}

input:invalid::after {
    content: '';
    background-image: url('/assets/icons/icon-error.svg');
    width: 1.5rem;
    height: 1.5rem;
}

h1, h2, h3, p {
    margin-top: 0;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1{
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.7vw, 5.5rem);
    margin-bottom: 20px;
    letter-spacing: -0.028em;
}

p{
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
    margin-bottom: 0;
}

.button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-colour-white);
    background-color: transparent;
    border: 2px white solid;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.button:hover {
    background-color: #ACD3E8;
    border: 2px #ACD3E8 solid;
    color: var(--background);
    cursor: pointer;
}

.wrapper{
    width: calc(100% - 2rem);
    max-width: var(--wrapper-maxWidth);
    margin-inline: auto;
    /* position: relative; */
}

/* 600px | Tablet size */
@media (min-width: 37.5em){ 
    .wrapper{
        width: calc(100% - 3.75rem);
    }
}

/*############################# UTILITY styles #############################*/
.section-border {
    border-bottom: 1px solid var(--text-colour-white);
}

/*############################# HEADER styles #############################*/
.menu-trigger{
    cursor: pointer;
}

.menu-trigger,
.menu-trigger input{
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--menu-button-width);
    height: var(--menu-button-height);
    margin: 0;
}

.menu-trigger input{
    appearance: none;
    pointer-events: none;
}

.menu-trigger::before,
.menu-trigger::after{
    position: absolute;
    content: "";
    width: 100%;
    height: var(--menu-icon-height);
    background-color: white;
    transition: var(--menu-icon-transition);
}

.menu-trigger::before{
    top: 0.5rem;
}

.menu-trigger::after{
    bottom: 0.5rem;
}

.menu-trigger:has(input:checked)::before{ 
    transform: translate(0, .4375rem) rotate(45deg) skew(0, 0) scaleX(1) scaleY(1);
}

.menu-trigger:has(input:checked)::after{
    transform: translate(0, -.4375rem) rotate(-45deg) skew(0, 0) scaleX(1) scaleY(1);
}


.menu-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: var(--gap-size);
    opacity: 0;
    transition: var(--menu-dropdown-transition); 
    pointer-events: none;
    /*
       Because I'm currently using opacity to hide the menu, this will also trigger
       when going from desktop -> mobile. Minor bug that happens when resizing the window
    */
}

.menu-trigger:has(input:checked) + .menu-dropdown{
    opacity: 1;
    pointer-events: auto;
}


@media (min-width: 37.5em){
    nav{
        display: flex;
        flex-direction: row;
    }
    
    .menu-trigger{
        display: none;
    }

    .menu-dropdown{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: var(--gap-size);
        opacity: 1;
        pointer-events: auto;
    }
}

/*############################# MAIN styles #############################*/
canvas{
    /* width: 300px;
    height: 150px; */
    position: absolute;
    top: 0;
}

/*############################# INTRO styles #############################*/

.intro{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__container{
}

.intro__headline{
    text-align: center;
    background: linear-gradient(to right, #71A6D1,#99C4E1, #ACD3E8,
     #C0E2F0, #D4F1F8, #C0E2F0, #ACD3E8, #99C4E1, #71A6D1);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: headline-gradient 5s linear infinite;
}

@keyframes headline-gradient {
    to {
        background-position: 200%;
    }
}

.intro__tagline{
    text-align: center;
    margin: 0;
}

.intro__tagline-highlight{
    background: linear-gradient(to right, #71A6D1,#99C4E1, #ACD3E8,
    #C0E2F0, #D4F1F8, #C0E2F0, #ACD3E8, #99C4E1, #71A6D1);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: tagline-gradient 7s linear infinite;
    
}

@keyframes tagline-gradient {
    to {
        background-position: 200%;
    }
}


/*############################# ABOUT styles #############################*/
.about {
    /* height: 100vh; might need to adjust this later */
}

.about__wrapper {
    padding-bottom: 40px;
}

.about__image {
    margin-inline: auto;
    /* position: absolute;
    top: 0;
    left: 50%;
    translate: -50%; */
    display: block;
}
.about__text {
    position: relative;
    margin-top: 295px; /* Huge space on mobile rn */
    text-align: center;
}

.about__headline {
    margin-bottom: 24px;
}

.about__description {
    position: relative;
    margin-bottom: 24px;
}

.about__headline > br {
    display: inline-block;
}

@media (prefers-reduced-motion: no-preference){
    .about-text {
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry 0% 50%;
    }
    
    @keyframes fade-in {
        to {opacity: 1;}
    }
}

@media (min-width: 37.5em) {
    .about__wrapper {
        padding-bottom: 60px;
    }
    
    .about__image {
        width: 322px;
        height: auto;
        right: 0;
        translate: 0;
    }
    
    .about__text {
        width: 70vw;
        text-align: left;
        margin-top: 0;
    }

    .about__headline {
        margin-bottom: 60px;
    }    

    .about__description {
        margin-bottom: 34px;
        width: 70%;
    }
}

@media (min-width: 62.5em) {
    .about__wrapper {
        /* position: relative; */
    }
    
    .about__headline {
        margin-bottom: 43px;
    }    

    .about__description {
        margin-bottom: 66px;
        width: 38ch;
    }
}
/*############################# SKILLS styles #############################*/
.skills {

}

.skills__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding-block: 40px;
}

.skills__item {
    text-align: center;
}

.skills__title {
    font-size: 2rem;
    font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
    line-height: 1.17;
    margin-bottom: 2px;
}

.skills__description {
    margin-block-end: 0;
}

.skills__resume {
    text-align: center;
    padding-block-end: 40px;
}

.skills__resume-description {
    display: block;
    margin-block-start: 20px;
}

.skills__resume-link {
    display: inline-block;
    margin-block-start: 20px;
}

@media (min-width: 37.5em) {
    .skills__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 52px;
    }

    .skills__item {
        text-align: left;
    }
}

@media (min-width: 62.5em) {
    .skills__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 58px 30px;
    }

    .skills__item {
        text-align: left;
    }
}
/*############################# PROJECTS styles #############################*/
.projects {

}

.projects__wrapper {
    padding-block: 40px;
    text-align: center; /* Centered for now, will need to change later when adding projects*/
}

.projects__headline {
    margin-block-end: 20px;
}

.projects__grid {
    display: grid;
}

.projects__item{
    padding: 20px;
    background-color: #545454;
    border-radius: 15px;
}

.projects__item-headline {
}

.projects__item-description {
    display: inline-block;
}

.projects__item-codepen{
    margin-block-start: 20px;
}

@media (min-width: 37.5em) {
    .projects__item{
        margin-inline: 80px;
        padding-block: 40px;
    }
}

@media (min-width: 62.5em) {
}


/*############################# CONTACT styles #############################*/

.contact {

}

.contact__wrapper {
    padding-block: 84px;
}

.contact__text {

}

.contact__headline {
    margin-block-end: var(--fontsize-20);
}

.contact__description {

}

.contact__form {

}

.contact__control.align-right {
    display: flex;
    justify-content: flex-end;
}

.contact__control {

}

.contact__control input,
.contact__control textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text-colour-white);
    color: var(--text-colour-white);
    font-size: 1rem;
    line-height: 1.625;
    font-family: 'Urbanist', sans-serif;
    padding: 16px 24px;
    margin-block-end: 24px
}

.contact__control > *::placeholder{
    color: var(--text-colour-white);
    opacity: 50%;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
}

.contact__button{

}

.contact__invalid-icon {
    display: none;
    width: 24px;
    height: 24px;
}

.contact input:focus-visible:invalid ~ .contact__invalid-icon {
    display: inline-block;
}

@media(min-width: 62.5em) {
    .contact__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 27.8rem);
        justify-content: space-between;
    }

    .contact__headline {
        margin-block-end: var(--fontsize-36);
    }

}

@media(max-width: 62.49875em) {
    .contact__wrapper {
        max-width: 27.8rem;
    }

    .contact__text {
        text-align: center;
    }

}

/*############################# FOOTER styles #############################*/

.footer__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding-block: 60px;
}

.footer__item {
    display: flex;
}

.footer__item:first-child {
    justify-content: flex-end;
}

.footer__item > a {
    position: relative;
    color: var(--text-colour-white);
}

.footer__item > a > span {
    position: absolute;
    left: -28%;
    transform: translateY(150%);
}

.footer__github {

}

.footer__linkedin { 

}

.footer__linkedin-icon,
.footer__github-icon {
    width: 36px;
    height: 36px;
}

.footer__linkedin span,
.footer__github span { 
    /* display: none; */
}

@media (min-width: 62.5em) and (prefers-reduced-motion: no-preference) {
    .footer__item > a > span {
        opacity: 0;
        transform: none;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .footer__item a:hover span{
        opacity: 1;
        transform: translateY(150%);
    }
}